@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

:root {
  background-color: #f8fafc; /* slate-50 */
  color: #0f172a; /* slate-900 */
}

/* Ajuste para garantir que o mapa ocupe o espaço correto */
.leaflet-container {
  width: 100%;
  height: 100%;
}